/* Table Styling */
table {
    width: 100%;
    margin-bottom: 20px;
}

tr.book-detail-row {
    height: 0;
}

/* Hover Effect for Rows */
tr.book-row:hover {
    background: whitesmoke;
}

.book-detail {
    overflow: hidden;
    display: flex;
    background-color: whitesmoke;
}

.edit-book-button {
    color: red
}

.app-button-container {
    padding-bottom: 16px;
}

.app-button {
    margin-left: 8px;
}

.mat-icon-button .mat-icon {
    font-size: 24px;
}