<form [formGroup]="bookForm" (ngSubmit)="onSubmit()" class="form-container">

    <mat-form-field class="form-field" appearance="fill">
        <mat-label for="author">Author</mat-label>
        <input matInput id="author" formControlName="author" type="text">
        <mat-error *ngIf="bookForm.get('author')?.invalid && bookForm.get('author')?.touched">
            <span *ngIf="bookForm.get('author')?.errors?.['required']">Author is required.</span>
            <span *ngIf="bookForm.get('author')?.errors?.['maxlength']">Author can't exceed 100 characters.</span>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="fill">
        <mat-label for="title">Title</mat-label>
        <input matInput id="title" formControlName="title" type="text">
        <mat-error *ngIf="bookForm.get('title')?.invalid && bookForm.get('title')?.touched">
            <span *ngIf="bookForm.get('title')?.errors?.['required']">Title is required.</span>
            <span *ngIf="bookForm.get('title')?.errors?.['maxlength']">Title can't exceed 100 characters.</span>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="fill">
        <mat-label for="publisher">Publisher</mat-label>
        <input matInput id="publisher" formControlName="publisher" type="text">
        <mat-error *ngIf="bookForm.get('publisher')?.invalid && bookForm.get('publisher')?.touched">
            <span *ngIf="bookForm.get('publisher')?.errors?.['required']">Publisher is required.</span>
            <span *ngIf="bookForm.get('publisher')?.errors?.['maxlength']">Publisher can't exceed 100 characters.</span>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="fill">
        <mat-label for="year">Year</mat-label>
        <input matInput id="year" formControlName="year" type="number">
        <mat-error *ngIf="bookForm.get('year')?.invalid && bookForm.get('year')?.touched">
            <span *ngIf="bookForm.get('year')?.errors?.['required']">Year is required.</span>
            <span *ngIf="bookForm.get('year')?.errors?.['pattern']">Year must be a 4 digit number.</span>
            <span *ngIf="bookForm.get('year')?.errors?.['futureYear']">Year can't be in the future.</span>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="fill">
        <mat-label for="description">Description</mat-label>
        <textarea matInput id="description" formControlName="description"></textarea>
        <mat-error *ngIf="bookForm.get('description')?.invalid && bookForm.get('description')?.touched">
            <span *ngIf="bookForm.get('description')?.errors?.['required']">Description is required.</span>
            <span *ngIf="bookForm.get('description')?.errors?.['maxlength']">Description can't exceed 500
                characters.</span>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="fill">
        <mat-label for="genre">Genre</mat-label>
        <mat-select id="genre" formControlName="genre">
            <mat-option *ngFor="let genre of genres" [value]="genre">{{ genre }}</mat-option>
        </mat-select>
        <mat-error *ngIf="bookForm.get('genre')?.invalid && bookForm.get('genre')?.touched">
            Genre is required.
        </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="bookForm.invalid">Save</button>

</form>